*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
  font-family: "Open Sans", sans-serif;
}

.navbar-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.user {
  font-size: 1.1rem;
  color: rgba(0,0,0,.55);
  padding: 0.5rem;
  margin: 0;
}

.user-icon {
  color: #0d6efd;
}

.search-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

.search-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form-group {
  border-right: 1px solid #dcdddf;
}

.form-control {
  width: 75%;
  padding: 0;
}

input {
  text-align: left;
}

input[type="text"],
input[type="number"] {
  font-size: 0.9rem;
  font-weight: bold;
  outline: none;
}

.location,
.price,
.property-type {
  font-size: 0.8rem;
  color: #868e96;
}

.home-user {
  color: #0d6efd;
}

.nav-text {
  border-top: 1px solid transparent;
  font-size: 1.1rem;
}

.nav-text:hover {
  border-top: 1px solid #0d6efd;
  color: #0d6efd !important;
}

.homes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.home__list {
  color: #212529;
}

.home__list:hover {
  color: #212529;
}

.card-name {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.card-location {
  font-size: 0.8rem;
  color: #949596;
}

.card-info {
  display: flex;
  justify-content: space-evenly;
}

.card-info__text {
  font-size: 0.8rem;
}

.bed,
.bath,
.sqft,
.card-price {
  color: #0d6efd;
}

.back-home {
  font-size: 0.9rem;
}

.left-angle {
  margin-right: 0.4rem;
}

.home-title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

.home-location {
  font-size: 1rem;
  color: #868e96;
}

.image-container {
  display: flex;
  gap: 1rem;
}

.side-image {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.home-image {
  width: 65%;
}

.home-image-side {
  width: 100%;
}

.home-image,
.home-image-side {
  border-radius: 5px;
}

.home-image:hover,
.home-image-side:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dcdddf;
  border-radius: 5px;
  width: 65%;
  margin-bottom: 2rem;
}

.home-info-text {
  margin: 0;
  padding: 1rem;
}

.home-description-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

.home-description-text {
  font-size: 1rem;
  width: 65%;
  margin-bottom: 3rem;
}

.card-price-text {
  font-size: 1rem;
}

.form-control {
  border: 1px solid #868e96;
}

.button-container {
  display: flex;
  gap: 0.5rem;
}