<article class="container form-container mt-5">
  <form action="/login" method="POST" class="validated-form form-login">
    <h5 class="login-title">Sign in to your account</h5>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control login-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label login-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control login-control"
        required
      />
    </div>
    <button class="btn user-login">Login</button>
  </form>
</article>
