<article class="container form-container mt-5">
  <form action="/register" method="POST" class="validated-form form-register">
    <h5 class="register-title">Register</h5>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control register-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control register-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control register-control"
        required
      />
    </div>
    <button class="btn user-register">Register</button>
  </form>
</article>
